body {
    background-color: lightgray;
}
img {
    object-fit: cover !important;
    height: 145px !important;
}
.card{
    display: flex;    
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}
